body{
  background-color: lightblue;
}



.food-selected{
  background-color: lightgreen;
}
.party-selected{
  background-color: pink;
}

.interface-list{
  display: inline-block;
  border: 1px solid black;
}
